@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --hong-bg: #000;
    --hong-fg: #fff;

    --accent-1: #111;
    --accent-2: #333;
    --accent-3: #444;
    --accent-4: #666;
    --accent-5: #888;
    --accent-6: #999;
    --accent-7: #eaeaea;
    --accent-8: #fafafa;
  }

  body {
    @apply overflow-x-hidden bg-hong-bg font-default text-hong-fg;
  }
  }

  ::-webkit-scrollbar {
    width: 7px;
    height: 3px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    @apply bg-red-600;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-blue-700;
  }

  ::selection {
    @apply bg-blue-600 text-white;
  }

  * {
    text-rendering: geometricprecision;
    -webkit-tap-highlight-color: transparent;
  }

  pre,
  code {
    @apply !font-code;
  }

  [data-rehype-pretty-code-fragment] {
    @apply relative;
  }

  a.animated {
    @apply relative before:absolute before:-bottom-0.5 before:left-0 before:h-0.5 before:w-full before:origin-right before:scale-x-0 before:rounded before:bg-hong-fg before:transition-transform before:duration-300 before:ease-in-out before:content-[""] hover:before:origin-left hover:before:scale-x-100;
  }
  .highlight {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 0.2s ease-in-out;
  }
  
  .highlight.width {
    width: var(--highlight-width);
  }
  
  .highlight.pos {
    transform: translateX(var(--highlight-x-pos));
  }
  
 /* test */

 .selected-item {
  text-align: center;
}

.controls-container {
  --highlight-width: auto;
  --highlight-x-pos: 0;

  display: flex;
  margin: 100px 0 25px;
}

.controls {
  display: inline-flex;
  justify-content: space-between;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  max-width: 500px;
  padding: 12px;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.controls input {
  opacity: 0;
  margin: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  cursor: pointer;
  height: 100%;
}

.segment {
  /* width: 100%; uncomment for each segment to have matching width */
  min-width: 120px;
  position: relative;
  text-align: center;
  z-index: 1;
}

.segment label {
  cursor: pointer;
  display: block;
  font-weight: 700;
  padding: 1px;
  transition: color 0.5s ease;
}

.segment.active label {
  color: #fff;
}

.controls::before {
  content: "";
  background: #5465ff;
  border-radius: 8px;
  width: var(--highlight-width);
  transform: translateX(var(--highlight-x-pos));
  position: absolute;
  top: 8px;
  bottom: 8px;
  left: 0;
  z-index: 0;
}

/* Only allow transitions once component is ready */
.controls.ready::before {
  transition: transform 0.3s ease, width 0.3s ease;
}

